{% extends '_header.html.twig' %}
{% block title %}
    {% if app.user %}
        {{ app.user.name }}
    {% endif %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .wrapper {
            width: 800px;
            margin: 0 auto;
            padding: 20px;
            box-shadow: 0 2px 10px gray;
        }
        .posts-block {
            padding: 20px;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
        }
        .post {
            width: 28%;
            padding: 10px;
            background: #eeeeee;
            margin: 5px;
            border-radius: 3px;
            border: 1px solid lightgrey;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="wrapper">
        <div class="posts-block">
            {% for post in posts %}
                <div class="post">
                    <a href="/details/{{ post.name }}">
                        {% if post.thumbnail == 'self' or post.thumbnail == 'default' %}
                            <img src="https://renderman.pixar.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png"
                                 alt="not_found" width="200" height="150"><br>
                        {% else %}
                            <img src="{{ post.thumbnail }}" alt="img" width="200" height="150"><br>
                        {% endif %}
                    </a>
                    <p style="font-weight: bold; font-size: 15px">"{{ post.title | truncate(20) }}"</p>
                    <p style="font-size: 14px; text-align: right; color: #737373">Автор: {{ post.author }}</p>
                    <span style="font-size: 12px">{{ post.created_utc | date("Y-m-d H:i:s") }}</span>
                </div>
            {% else %}
                <p>Ничего не найдено</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}


