{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}
{% block stylesheets %}
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            word-wrap: break-word;
        }
        header {
            padding: 20px;
            box-shadow: 0 2px 10px gray;
        }
        header nav {
            width: 1000px;
            margin: 0 auto;
            text-align: center;
        }
        header a {
            margin: 0 20px;
        }
    </style>
{% endblock %}
{% block body %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}">Главная</a>
            <a href="{{ path('all-favorites') }}">Избранные сообщества</a>
            {% if app.user %}
                <a href="{{ path('profile') }}">Мои избранные</a>
                <a href="{{ path('logout') }}">Выйти</a>
            {% else %}
                <a href="{{ path('sign-up') }}">Регистрация</a>
                <a href="{{ path('sign-in') }}">Авторизация</a>
            {% endif %}
        </nav>
    </header>
{% endblock %}
