{% extends '_header.html.twig' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .post {
            width: 600px;
            padding: 0;
            background: #eeeeee;
            margin: 30px auto;
            border-radius: 3px;
            border: 1px solid lightgrey;
        }
        .post .img-block {
            background: black;
            text-align: center;
        }
        .post .img-block img {
            max-width: 570px;
            max-height: 500px;
        }
        .post .data-block {
            padding: 20px;
        }
        #favorite {
            color: gold;
            font-weight: bold;
            width: 100px;
            text-align: center;
            margin: 0 10px 0 200px;
            padding: 5px;
            background: #222222;
            border-radius: 8px;
            display: inline-block;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="post">
        <a href="/details/{{ post.name }}">
            <div class="img-block">
            {% if post.thumbnail == 'self' or post.thumbnail == 'default' %}
                <img src="https://renderman.pixar.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png"
                     alt="not_found"><br>
            {% else %}
                <img src="{{ post.thumbnail }}" alt="img"><br>
            {% endif %}
            </div>
        </a>
        <div class="data-block">
            <p style="font-weight: bold; font-size: 18px">"{{ post.title }}"</p>
            <p style="font-size: 16px; text-align: right; color: #737373">{{ post.author }}</p>
            <p style="font-size: 14px; text-align: right">{{ post.created_utc | date("Y-m-d H:i:s") }}</p>
        </div>
        <p id="favorite">
            &#9733;
             {{ favorite_amount }}
        </p>
        {% if already_favorite == null %}
        <form action="{{ path('favorite-add') }}" style="display: inline-block">
            <input type="hidden" value="{{ post.name }}" name="post_name">
            <p><input type="submit" value="Добавить в избранное"></p>
        </form>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}




