{% extends '_favorite_template.html.twig' %}
{% block title %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <form action="{{ path('all-favorites') }}">
        <p style="text-align: center">
            {% for i in 1..(amount) %}
                <input type="submit" value="{{ i }}" name="page">
            {% endfor %}
        </p>
    </form>
{% endblock %}


