{% extends '_header.html.twig' %}
{% block title %}
    Авторизация
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .wrapper {
            width: 400px;
            margin: 10% auto;
            text-align: center;
            padding: 50px 20px;
            box-shadow: 0 2px 10px gray;
        }
        .wrapper input {
            margin: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="wrapper">
        <h2>Авторизация</h2>
        {% if error %}
            <p style="color: red">{{ error }}</p>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}

