{% extends '_header.html.twig' %}
{% block title %}
    Регистрация
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .wrapper {
            width: 400px;
            margin: 10% auto;
            text-align: center;
            padding: 30px 20px 50px;
            box-shadow: 0 2px 10px gray;
        }
        .wrapper input {
            margin: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
        <div class="wrapper">
            <h2>Регистрация</h2>
            {{ form(form) }}
        </div>
{% endblock %}


